<h2>Congrats, your order has been placed</h2>
<h3>Order Number: <%= @order.number %></h3>
<%= render @order %>
<p>Thank you for your order. We will email you when your order has been processed. Until then, this screen serves as your receipt, so please <a href="javascript:window.print();">print</a> it for your records.</p>
<p>If anything's wrong, please do not hesitate to contact us ASAP and let us know what should be changed.</p>
<p>You can call us at +1 (715) 252-9718 from 9am to 5pm (CST).</p>
