<figure>
  <%= image_tag "jillian.ryan.jpg" %>
</figure>
<h2 class="happy">Behind the Bits</h2>

<div class="copy">
  <p>Atypical Type is a collaboration between Ryan Krug and Jillian Noble who also happen to be co-founders of a tiny midwest-based design studio called <a href="http://elbongurk.com">Elbongürk</a>.</p>
  <p>Ryan reigns from the land of computer science by way of software engineering. He feeds the machine a constant stream of ruby on rails, php, and other random programming languages.</p>
  <p>Jillian is a graphic designer who fills her days teaching budding graphic designers, drawing ampersands (<a href="http://am.persand.me">am.persand.me</a>), designing logos and building website layouts.</p>
  <p>Together these two obsess about design, layout, performance, a big white husky named Jack, craft beer, and, of course, typography.</p>
  <p>Aytpical Type is the perfect blend of both graphic design and computer programming. Beautiful photographic art made of monospace type.</p>
</div>
<div class="jack">
  <%= image_tag "jack.png" %>
</div>