<article class="secondary">
  <h1>Privacy Policy</h1>
  <p>By visiting atypicaltype.com, you are consenting to our Privacy Policy.</p>

  <h2>Overview</h2>
  <p>Atypical Type is committed to protecting your privacy online. This Privacy Policy describes the personal information we collect through this website at atypicaltype.com (the "Site"), and how we collect and use that information.</p>
  <p>The terms "we", "us", "our" and "Atypical Type" refer to Atypical Type. The term "user", "you" and "your" refers to site visitors, customers and any other users of the site.</p>
  <p>The term "personal information" is defined as information that you voluntarily provide to us which personally identifies you and/or your contact information, such as your name, phone number and email address.</p>
  <p>Aytpical Type provides a service where users can print their Instagram&trade; photos onto canvas (the “Service”).</p>
  <p>Use of atypicaltype.com, including all materials presented herein and all online services provided by Atypical Type, is subject to the following Privacy Policy. This Privacy Policy applies to all site visitors, customers, and all other users of the site. By using the Site or Service, you agree to this Privacy Policy, without modification, and acknowledge reading it.</p>
  <h2>Information We Collect</h2>
  <h3>Atypical Type Orders</h3>
  <p>We collect a variety of personal information with each Aytpical Type order. This includes:</p>
  <ul>
	  <li>Your name, address, email address and phone number. This information is shared with our manufacturer and shipping provider to ensure the safe delivery of your order. We use your email to communicate with you about your order and to manage our customer relationship with you. When you place an order you will be added to our mailing list from which you can unsubscribe at any time using the unsubscribe link in each email or by contacting us hello@atypicaltype.com.</li>
	  <li>Your Instagram&trade; username and selected Instagram&trade; images. This information allows us to download images you have selected to fulfill your order. We never have access to your Instagram&trade; password.</li>
    <li>Your payment information. While we collect payment information for each order, we do not store any payment information on Atypical Type servers. Your payment information is securely communicated using secure socket layer (SSL) software, to and processed by Braintree Payments Solutions, LLC.</li>
  </ul>
  <p>All personal information collected for an order is used exclusively for the fulfillment of that order and to manage our customer relationship with you. We only share your information with trusted third parties. They agree to keep this information confidential. Your personal information will never be shared with unrelated third parties.</p>

  <h3>Activity</h3>
  <p>We may record information relating to your use of the Site, such as the searches you undertake, the pages you view, your browser type, IP address, requested URL, referring URL, and timestamp information. We use this type of information to administer the Site and provide the highest possible level of service to you. We also use this information in the aggregate to perform statistical analyses of user behavior and characteristics in order to measure interest in and use of the various areas of the Site.</p>
  <h3>Cookies</h3>
  <p>We may send cookies to your computer in order to uniquely identify your browser and improve the quality of our service. The term "cookies" refers to small pieces of information that a website sends to your computer's hard drive while you are viewing the Site. We may use both session cookies (which expire once you close your browser) and persistent cookies (which stay on your computer until you delete them). You have the ability to accept or decline cookies using your web browser settings. If you choose to disable cookies, some areas of the Site may not work properly or at all.</p>
  <h2>How Your Information is Used</h2>
  <p>The information you provide is used to process transactions, send periodic emails and improve the service we provide. We do share your information with trusted third parties who assist us in operating our website, conducting our business and servicing clients and visitors. These trusted third parties agree to keep this information confidential. Your personal information will never be shared with unrelated third parties.</p>
  <h2>Third Party Links</h2>
  <p>The Site may contain links to third party websites. Except as otherwise discussed in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you on our Site. Other sites accessible through our site via links or otherwise have their own policies in regard to privacy. We are not responsible for the privacy policies or practices of third parties.</p>
  <h2>Security</h2>
  <p>We maintain security measures to protect your personal information from unauthorized access, misuse or disclosure. However, no exchange of data over the Internet can be guaranteed as 100% secure. While we make every effort to protect your personal information shared with us through our Site, you acknowledge that the personal information you voluntarily share with us through this Site could be accessed or tampered with by a third party. You agree that we are not responsible for any intercepted information shared through our Site without our knowledge or permission. Additionally, you release us from any and all claims arising out of or related to the use of such intercepted information in any unauthorized manner.</p>
  <h2>How to Update Your Information</h2>
  <p>If you opt-in to receive our newsletter, the option to unsubscribe will be included in every email. You may also access and correct your personal information and privacy preferences by contacting us with your request hello@atypicaltype.com.</p>
  <h2>Notification of Changes to this Policy</h2>
  <p>You acknowledge and agree that it is your responsibility to review this Site and this Policy periodically and to be aware of any modifications. Updates to this Policy will be posted on this page.</p>

  <h2>Contact</h2>
  <p>If you have questions about our Privacy Policy, please contact us via regular mail at:</p>
<p>
  Elbongürk, LLC<br>
  23 Park Ridge Drive<br>
  Mailbox #6<br>
  Stevens Point, Wisconsin  54481<br>
</p>
  <h4>Updated: September 2013</h4>
</article>
