<table class="cart">
  <tr>
    <th class="preview">Preview</th>
    <th class="description">Product</th>
    <th class="price">Price</th>
    <th class="quantity">Qty</th>
    <th class="remove">Remove</th>
    <th class="total">Total</th>
  </tr>
  <%= render cart.line_items %>
</table>

