<h2>Choose an image to begin</h2>
<ul class="streamer">
  <%= render @photos %>
</ul>
<p class="spinner spinner-<%= @photos.count > 0 ? "off" : "on" %>">
  <%= image_tag "spinner.gif" %>
  <a href="#">More Photos</a>
</p>
