.marketing-notice {
  display: none;    
}

nav {
  @include outer-container;
	border-top: solid thick #F7931D;
	border-bottom: solid thick #000;
	padding: 35px 0;
	margin-bottom: 45px;

  h1 {
    @include span-columns(3 of 4);
    padding: 0 10px;
  }

  ul {
    @include span-columns(1 of 4);
    text-align: center;
    li {
      display: none;
    }
    li.go-nav {
      display: list-item;
    }
  }
}

header {
  @include outer-container;
}




