table.cart {
  @include fill-parent;
  margin-bottom: 15px;
  font-size: 0.6em;

  th, td {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }

  .description {
    text-align: left;
    width: 55%;
  }
  
  .total {
    text-align: right;
  }

  .preview {
    min-width: 50px;
    max-width: 100px;
  }

  @include media($phablet-up) {
    font-size: 1em;
  }
}

.cart-meta, .order-meta {
  @include clearfix;
  background-color: #ccc;

  font-size: 0.625em;
  padding: 10px;
  margin-bottom: 30px;

  dt {
    font-weight: 600;
  }

  @include media($phablet-up) {
    font-size: 1em;
  }
}

dl.order-meta-shipping {
  dd {
    margin-bottom: 10px;
  }

  @include media($mobile) {
    @include span-columns(2 of 4);
  }
  @include media($tablet) {
    @include span-columns(3 of 6);
  }
  @include media($desktop) {
    @include span-columns(6 of 12);
  }
}

dl.order-meta-totals {
  @include media($mobile) {
    @include span-columns(2 of 4);
  }
  @include media($tablet) {
    @include span-columns(2 of 6);
    @include shift(1);
  }
  @include media($desktop) {
    @include span-columns(4 of 12);
    @include shift(2);
  }
}

dl.cart-meta-totals {
  @include media($mobile) {
    @include span-columns(2 of 4);
    @include shift(2);
  }
  @include media($tablet) {
    @include span-columns(2 of 6);
    @include shift(4);
  }
  @include media($desktop) {
    @include span-columns(4 of 12);
    @include shift(8);
  }
}

dl.cart-meta-totals, dl.order-meta-totals {
  dt, dd {
    text-align: right;
    @include media($mobile) {
      @include span-columns(1 of 2);
    }
    @include media($tablet) {
      @include span-columns(1 of 2);
    }
    @include media($desktop) {
      @include span-columns(2 of 4);
    }
  }

  dd {
    @include omega;
  }
}

#carts.show {
  margin-bottom: 50px;
}