@font-face {
    font-family: Landmark Regular;
    src: font-url("Landmark-Regular.otf");
}


@font-face {
    font-family: Gotham Light;
    src: font-url("GothamHTF-Light.otf");
}

@font-face {
    font-family: Gotham Book;
    src: font-url("GothamHTF-Book.otf");    
}

@font-face {
    font-family: Lobster;
    src: font-url("Lobster_1.3.otf");  
}

@font-face {
    font-family: Gotham Light Italic;
    src: font-url("GothamHTF-LightItalic.otf");  
}
