@import "neat-helpers";

$grid-columns: 4;
$max-width: em(1024);
$visual-grid: true;

$mobile: new-breakpoint(max-width em(704), 4);
$tablet: new-breakpoint(em(704), 6);
$desktop: new-breakpoint(em(960), 6);

