#orders.new, #orders.create, #orders.purchase, #orders.confirm, #users.edit {
  form {
    padding: 15px;
    margin-bottom: 50px;
    @include media($phablet) {
      padding: 15px 20%;
    }
    @include media($tablet) {
      @include span-columns(4 of 6);
      @include shift(1);
    }
    @include media($desktop) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
  }
}

#orders.show {
  h3 {
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    margin: 0 5% 20px;
    line-height: 1.5;
    font-size: 0.8em;
    @include media($tablet-up) {
      font-size: 1em;
    }
  }
}