
#photos.index {
  h2 {
    font-family: "Landmark Regular";
    text-align: center;
    line-height: 3;
    font-weight: 400;
    font-size: 1.2em;
    @include media($tablet) {
      font-size: 2em;
    }
  }
  li {
    list-style: none;
    
    margin-bottom: 30px;
    
    @include media($mobile) {
      @include span-columns(2 of 4);
      @include omega(2n);
    }
    @include media($tablet) {
      @include span-columns(2 of 6);
      @include omega(3n);
    }
  }
}

#photos.canvas {
  .products {
    list-style: none;
    li {
      padding: 10px 0;
      border: 1px solid black;
      text-align: center;
      @include media($mobile) {
        @include span-columns(2 of 4);
        @incldue omega(2n);
      }
    }
  }

  .toolbar {
    text-align: center;
    padding: 10px 0;
    @include outer-container;
    input {
      margin: 3px;
    }
    button {
      padding: 5px;
    }
    fieldset {
      @include span-columns(2 of 6);
      border: 0;
    }
    label {
      display: block;
      color: #eee;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 0.8em;
    }
  }

  .scene {
    @include background-image(radial-gradient(center, closest-side, #6a6a6a, #1a1a1a));
    @include media($tablet) {
      @include span-columns(4 of 6);
    }
  }

  .product {
    @include media($tablet) {
      @include span-columns(2 of 6);
    }    
  }

  .scene-1 {
    @include perspective(700px);
  }

  .scene-2, .scene-3 {
    @include perspective(400px);
  }

  .floor {
    @include background-image(radial-gradient(center, closest-side, #5a5a5a, #1a1a1a));
    height: 0;
  }

  .scene-1 .floor {
    margin-top: -15%;
    padding-bottom: 15%;
  }

  .scene-2 .floor, .scene-3 .floor {
    margin-top: -30%;
    padding-bottom: 30%;
  }

  .panels {
    margin: 0 20%;
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    position: relative;
    @include transform-style(preserve-3d);
  }

  .scene-1 .panels {
    @include transform(rotateY(-30deg));
  }

  .scene-2 .panels {
    @include transform(rotateX(75deg) rotateZ(-5deg));
  }

  .scene-3 .panels {
    @include transform(rotateX(75deg) rotateZ(180deg));
  }

  .panel {
    position: absolute;
    background-repeat: no-repeat;
    background-color: #efefef;
  }

  .panel-front {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-position: center center;
    background-size: 125% 125%;
  }

  .panel-left {
    width: 10%;
    height: 80%;
    top: 10%;
    background-position: right center;
    background-size: auto 125%;
    @include transform(rotateY(-90deg));
    @include transform-origin(right center);
  }

  .panel-right {
    width: 10%;
    height: 80%;
    top: 10%;
    left: 90%;
    background-position: left center;
    background-size: auto 125%;
    @include transform(rotateY(90deg));
    @include transform-origin(left center);
  }

  .panel-top {
    width: 80%;
    height: 10%;
    left: 10%;
    background-position: center top;
    background-size: 125% auto;
    @include transform(rotateX(90deg));
    @include transform-origin(center bottom);
  }

  .panel-bottom {
    width: 80%;
    height: 10%;
    top: 90%;
    left: 10%;
    background-position: center bottom;
    background-size: 125% auto;
    @include transform(rotateX(-90deg));
    @include transform-origin(center top);
  }
}