#products.show, #line_items.show {  
  p {
    text-align: center;
    font-size: 0.7em;
    padding: 0 5%;
    line-height: 1.3;
    margin-bottom: 25px;
    @include media($phablet) {
      padding: 0 15%;
    }
    @include media($tablet-up) {
      padding: 0 10%;
    }
  }
  
  ul {
    font-size: 0.8em;
    text-align: center;
    line-height: 1.5;
    list-style: none;
    @include media($tablet) {
      font-size: 0.7em;
    }
  }
  
  h2 {
    margin-bottom: 10px;
  }

  .products {
    list-style: none;
    li {
      padding: 10px 0;
      border: 1px solid black;
      text-align: center;
      @include media($mobile) {
        @include span-columns(2 of 4);
        @incldue omega(2n);
      }
    }
  }

  .navbar {
    font-size: 0.7em;       
    font-style: italic; 
    font-weight: 600;
    background: #E6E7E8;
    height: 65px;

    /*FIXME*/
    border-top: 5px solid white;
    
    .photo-back {
      background-color: #CBCBCB;
      height: 60px;
      text-decoration: none;
      display: inline-block;
      margin-right: 2%;
    }
    .photo-back:hover {
      background-color: #888;
    }
    
    img {
      vertical-align: middle;      
    }
    img.photo-choosen {
      margin-right: 10px;
      height: 50px;
      width: 50px;
    }
    
    @include media($phablet-up) {
      font-size: 0.8em;
    }
  }
  
  .toolbar {
    margin-left: 5%;
    width: 90%;
    li {
      display: inline-block;
      width: 15%;
      padding: 10px;
    }
    img {
      border: 5px solid #333;
    }
    img:hover {
      cursor: pointer;
      border-color: #666;
    }
    .actionImageThumb-selected, .actionImageThumb-selected:hover {
      border-color: #EA1E79;
    }
  }

  .previewer {
    margin-bottom: 15px;

    @include background-image(radial-gradient(center, closest-side, #6a6a6a, #1a1a1a));
    @include media($tablet) {
      @include span-columns(4 of 6);
    }
    @include media($desktop) {
      @include span-columns(8 of 12);
    }
  }
  
  .scene {
    position: relative;
    overflow: hidden;
  }
  
  .productImage {
    position: absolute;
    max-width: inherit;
  }
  
  .productImage-ccxc-1 {
    top: 24%;
    left: 37.5%;
    width: 31%;
    @include transform(rotate(-2deg));
  }

  .productImage-ccxc-2 {
    top: 38%;
    left: -30%;
    width: 150%;    
  }
  
  .productImage-ccxc-3 {
    top: 28%;
    left: -118%;
    width: 200%;
  }
  
  .productImage-ccxc-4 {
    top: 4%;
    left: 14.5%;
    width: 55%;
  }
  
  .productImage-ccxc-5 {
    top: 30%;
    left: 44%;
    width: 20.5%;
  }
  
  .productImage-ccxc-6 {
    top: 18%;
    left: 31%;
    width: 40.5%;
  }
  
  .product {
    @include media($tablet) {
      @include span-columns(2 of 6);
    }    
    @include media($desktop) {
      @include span-columns(4 of 12);
    }
  }

  .product-sizes {
    @include clearfix;
    margin-bottom: 20px;
    padding: 0 5%;
  }
  
  .product-size {
    font-size: 0.8em;
    text-align: center;
    line-height: 1.8;
    background-color: #EAEAEA;
    border: 5px solid white;
    @include media($mobile) {
      @include span-columns(2 of 4);
    }
    @include media($tablet) {
      @include span-columns(1 of 2);
    }
    @include media($desktop) {
      @include span-columns(2 of 4);
    }
  }
  
  .product-size-selected {
    border-color: #EC227A;
  }
  
  .product-size:hover {
    cursor: hand;
  }
  
  .product-size-disabled {
    text-decoration: line-through;
    color: #888;    
  }

}