* {
	margin: 0;
	padding: 0;
}

table {
  border-collapse: collapse;
	border-spacing: 0; 
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  ul, ol { 
    list-style: none;
  }
}

body {
  font-family: "Gotham Light";
}

